.border_radius--8px
{
    border-radius:              8px;
}

.border_radius--16px
{
    border-radius:              16px;
}

.border_radius--24px
{
    border-radius:              24px;
}

.border_radius--32px
{
    border-radius:              32px;
}

.border_radius--48px
{
    border-radius:              48px;
}

.border_radius--64px
{
    border-radius:              64px;
}