.text_align--left
{
    text-align:                 left;
}

.text_align--center
{
    text-align:                 center;
}

.text_align--justify
{
    text-align:                 justify;
}